.Courses {
    position: relative;
    width: 100vw;
    margin: 0;
    h1 {
        text-align:left;
        font-size: 3vw;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
            margin-left: 120px;
            
    }

}
.card_container {
    position: relative;
    display: flex;
    width: 94vw;
    left: 5vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-right: 30px;
}

@media (max-width:1531px){
    .Courses{
        h1{
            text-align: center;
            margin: auto;
        }
    }
}

@media (max-width:1000px){

    .Courses{
        h1{
            font-size: 30px;
        }
    }

}
@media (max-width:500px){
    .card_container{
        margin: auto;
    }

    .Courses{
        h1{
            font-size: 22px;
        }
    }

}
